# Python
.venv/
__pycache__/
*.pyc

# Environment
.env
backend/.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# RAG Data
backend/uploaded_files/
backend/vectorstore/
backend/data/

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# OS / Editor
.vscode/
.idea/
.DS_Store
Thumbs.db
